:root {
  /* 기본 화이트 모드 */
  --background-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  /* 설정 다크 모드 */
  --background-color: #000;
  --text-color: #fff;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansMedium.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansTTFLight";
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansTTF";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Knewave";
  src: url("/fonts/Knewave-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RockSalt";
  src: url("/fonts/RockSalt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sejong";
  src: url("/fonts/SejongGeulggot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "GmarketSans", sans-serif;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
