:root {
  /* 기본 화이트 모드 */
  --background-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  /* 설정 다크 모드 */
  --background-color: #000;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
